body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    background-image: url(bg.jpg);
    position: absolute;
}

header {
    background-color:transparent;
    color: white;
    text-align: center;

}

nav {
    background-color:transparent;
    
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    display: inline-block;
}
li a{
    display: block;
    color: #999;
    text-align: center;
    padding:  12px;
    text-decoration: none;
    position: relative;
    }
.right-section{
    padding-top: 30px;
    float: right;
    padding-right: 10px;
    font-size: small;
}
.right-section :hover{
    color: white;
    transition: color 0.5s;
}   
main {
    padding: 2rem;
}
h2 {
    color: white;
}

.event {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    size: flex;
}

.event h3 {
    margin-top: 0;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.gallery img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.event-calendar{
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    position: relative;
}
.calendar{
    width: 80%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#chatbox {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#user-input {
    width: 80%;
    padding: 5px;
}

button {
    width: 18%;
    padding: 5px;
}